* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

:root {
    --depth: 10px;
}

.line {
    position: absolute;
    background-color: #41f941;
    animation-name: color-change;
    animation-duration: 3s;
    animation: color-change 5s infinite;
    box-shadow: 0 0 50px #41f94180;
    transition: 0.1s all;
    opacity: 0.8;
    overflow: hidden;
}

.line-x {
    width: 100%;
    height: var(--depth);
    top: -15px;
}

.line-y {
    width: var(--depth);
    height: 100%;
    left: -15px;
}

@keyframes color-change {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
.posi{
color: #41f941;
}